{% extends 'layout.html' %}


{% block main_page %}

<div class="wrapper">
    <div class="empty_block"></div>

    <div class="info">
        <div class="description">
            <p class="names">Raziel - Fullstack Разработка</p>
        
        <div class="desc">
            <ul class="checkmark">
                <li><a href="{{ url_for('main.get_html_page') }}">Html</a></li>
                <li><a href="{{ url_for('main.get_css_page') }}">Css</a></li>
                <li><a href="{{ url_for('main.get_python_page') }}">Python</a></li>
                <li><a href="{{ url_for('main.get_js_page') }}">Java Script</a></li>
                <li><a href="{{ url_for('main.get_flask_page') }}">Flask</a></li>
                <li><a href="{{ url_for('main.get_django_page') }}">Django</a></li>
            </ul>
        </div>
        </div>
    </div>
</div>

{% endblock main_page %}
