*{
margin: 0;
padding: 0;
}

html,
body{
height: 100%;
}


/* LOGO */
.logo img{
float: left;
margin-left: 80px;
width: 200px;
}


/* MAIN MENU */

.header{
height: 120px;
background-image: linear-gradient(to bottom left, cyan 50%, palegoldenrod 50%);
}

.main_menu{
display: flex;
justify-content: flex-end;
padding-right: 60px;
}

.main_menu a{
text-decoration: none;
color: darkslateblue;
font-weight: 400;
}

.main_menu li{
list-style: none;
margin-right: 10px;
width: 140px;
margin-top: 5%;
box-shadow: 10px 10px 10px gray;
font-family: monospace;
border-radius: 100px;
text-align: center;
}

.main_menu li:hover{
transition-duration: 1s;
box-shadow: 4px 5px 50px gray;
}

.main_menu p{
font-size: 18px;
}


/* WRAPPER */

.wrapper{
display: flex;
flex-direction: column;
height: 100%;
} 

.empty_block{
height: 10px;
}

/* CONTENT */


.content{
width: 60%;
flex: 1 0 auto;
margin: 100px auto 0;
}


/* MAIN_PAGE */

.info{
display: flex;
width: 80%;
margin: 80px auto 0;
box-shadow: -5px 15px 10px skyblue;
align-items: center;
font-family: monospace;
border-radius: 200px;
}

.description{
font-size: 35px;
margin: 0 auto;
text-align: right;
}

.names{
box-shadow: -5px 15px 10px skyblue;
border-radius: 200px;
padding: 10px 20px;
letter-spacing: 3px;
}



.desc{
width: 100%;
font-weight: 600;
color: dodgerblue;
text-align: center;
margin: 0 auto;
box-shadow: 0px 0px 0px skyblue;
border-radius: 200px;
}

.desc li{
margin-bottom: 10px;
font-style: normal;
box-shadow: 5px 3px 10px gray;
font-size: 25px;
padding: 5px;
font-family: monospace;
border-radius: 200px;
letter-spacing: 2px;
}

ul.checkmark li::before{
content: '\2713\0020';
color: forestgreen;
}

.checkmark a{
text-decoration: none;
color: mediumaquamarine;
}

.checkmark li:hover{
transition-duration: 0.1s;
box-shadow: 0px 12px 10px orange;
}

.checkmark li{
list-style: none;
}

/* FOOTER */

.footer{
display: flex;
justify-content: center;
align-items: center;
font-size: 16px;
font-family: monospace;
width: 100%;
height: 100px;
background-color: antiquewhite;
flex: 0 0 auto;
}


